<div class="content">
  
  <div *ngFor="let graph of data">
    <div>
      <h2 class="title">{{graph.title}}</h2>
      <div class="chart">
        <canvas baseChart height="50"
          [datasets]="graph.barChartData"
          [labels]="graph.barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
</ngx-spinner>

<div class="footer">
  <small>Developed for the world by Yuri with ❤️</small><br>
  <small><a target="_blank" href="https://www.linkedin.com/in/yuri-bacciarini/">Linkedin -</a></small>
  <small><a target="_blank" href="https://github.com/texano00"> Github </a></small>
  <small><a target="_blank" href="https://yuribacciarini.com/">- Blog</a></small>
</div>
